@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

@@import url(https://fonts.googleapis.com/css?family=Acme);

html,body {
  height:100%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
}

#btn1{
 width: 100%;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
#REGISTER{
  font-family: 'Acme';
  font-size: 20px;
  margin-top:10px;
  margin-right: 10px;
}

#LOGIN{
  font-family: 'Acme';
  font-size: 20px;
}

#username{
  margin-bottom : 10px;
}

#password{
  margin-bottom : 10px;
}
