h1 {

      padding: 10px;
      color : #4169E1	;
}
body {
  background: #D8D3D3 ;
}

form {
  border: 1px solid #030303;
  float:center;
}

a {
    text-decoration: none;
}
  a:hover , a:active {
    text-decoration: underline;
  }
